/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/nbproject/private/
/public/.DS_Store
/public/profiles
/.phpintel/*
.DS_Store
/.phpintel/index
node_app/node_modules
node_app/api.rest