.mt-8{
    margin-top: 48px !important;
    margin-top: 3.0rem !important;
}

.modal-content {
    width: 800px;
    height: 400px;
}

#scw-modal{
    font-size: 32pt;
    font-family: 'Roboto Light';
}
#scw-modal-body{
    min-height: 300px;
    height: 380px;
    padding-top: 130px;
    color: #002e60;
    overflow-y: hidden;
}

#scw-modal-body.with-background{
    background-image: url('/images/startup-configuration/background1.png');
}

#scw-modal-body button.to-below{
    font-size: 12pt;
    position: absolute;
    bottom: 40px;
}

#scw-modal-body .image-button.active {
    box-shadow: 0 4px 8px 0 #002e60a6, 0 6px 20px 0 #002e60a6;
}