@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
.main-content {
    padding-left: 0% !important;
    padding-right: 0% !important;
    /*height: 480px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}
.component-wrapper {
    width: 100%;
    height: 100%;
    padding: 5%;
}
.upload-csv-input {
    height: 2.6rem;
}
.disabled-link {
    opacity: 0.3;
    pointer-events: none;
}
/*#0a2950*/
/*#456287*/
.text-yellow {color: yellow !important;}
.gaa-blue-gradient {background: linear-gradient(to bottom, #0a2950, #456287);}
.gaa-bg-color {background-color: #456287;}
.gaa-bg-primary {background: #456287;}
.gaa-text-primary {color: #456287;}
.gaa-text-color {color: #456287;}
.gaa-title {color: #002e60;}
.sidebar-menu {height: auto !important;}
.sidebar-menu li a {color: #1c79d0;}
.sidebar-footer {
    position: relative;
    margin-bottom: 0%;
    display: block;
}
.sidebar-footer > a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
}
.sidebar-footer > a .icon-holder {
    border-radius: 6px;
    display: inline-block;
    font-size: 17px;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 14px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 35px;
}
.anno-container { padding: 2% 0% 2% 0% !important;}
.description {
    position: relative;
    display: block;
    border: none;
}
.desc-td {
    overflow-y: auto;
    max-height: 180px;
    width: 17.1vw;
    scroll-margin: 0px;
}
.desc-td p { margin: 0px; }
.header-profile-info h6 {
    font-size: 12px;
    border-bottom: 1px solid rgb(234 233 233);
}
.header-profile-info small {
    font-size: 10px;
    display: block;
    margin-top: 3px;
    border-bottom: 1px solid rgb(234 233 233);
}
.header-profile-info small:last-child {border-bottom: none;}
.sidebar:hover .dropdown > .collapse-icon {display: flex;}
.dropdown > .collapse-icon {
    display: none;
    font-size: 16px;
}
setting-menu-item.dropdown {transition: 0.3s ease;}
.setting-menu-item.dropdown.open .setting-menu-content {
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    height: auto;
    padding-left: 20%;
}
.switch-wrapper {transition: visibility 0.3s linear;}
/*switch button*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: #4caf50;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #4caf50;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}
/**/
.collapseMenu.show .dropdown-menu.show {
    position: relative !important;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    /*color: white;*/
    text-align: left;
    height: 100%;
}

.pricing .card.with-badge{
    border: 1px solid #ec7373 !important;
    border-top-color: rgba(0, 0, 0, 0.063);
    border-right-color: rgba(0, 0, 0, 0.063);
    border-bottom-color: rgba(0, 0, 0, 0.063);
    border-left-color: rgba(0, 0, 0, 0.063);

    border-color: #ec7373;
}

.pricing .card.with-badge .card-body span.badge{
    color: white;
    background-color: #ec7373;
}

.pricing hr {
    margin: 1rem 0;
    margin-top: 0;
    background-color: #ffffff;
    width: 100%;
}

.pricing .card-title {
    margin: 1rem 0;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: #456287;
}
.pricing .fa-ul .fa-li .fa-asterisk {
    font-weight: lighter;
    color: #8080807a;
    font-size: 11px;
}
.pricing .card-text {
    font-size: 16px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
}
.pricing .card-price {
    font-size: 2rem;
    margin: 0;
    color: #456287;
}

.pricing .card-price .real-price {
    font-size: 1.6rem;
    font-weight: normal;
}

.pricing .card-price .period {
    font-size: 1rem;
    font-weight: normal;
}

.pricing .card-price .discounted-price {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.pricing .card .card-body {
    align-items: start !important;
    justify-content: start !important;
}

.pricing .card .card-body sub {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 0px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    width: 100%;
}

.gaa-menu-item {
    color: #456287;
}

.nav-item.gaa-menu-item.dropdown > .dropdown-toggle{
    cursor: pointer;
}

/* .link-active {
    color: #1c79d0 !important;
} */
.sidebar .sidebar-inner .sidebar-menu > li > a.link-active .title {
    color: #1c79d0 !important;
}
.sidebar .sidebar-inner .sidebar-menu > li > a .title {
    color: #002e60;
}
.gaa-text-danger {
    color: #bf0c18 !important;
}

.pos-ab-l-50-t-0 {
    position: absolute;
    left: 50%;
    top: 0px;
}

.gaa-btn-danger {
    color: #fff;
    background-color: #bf0c18;
    border-color: #bf0c18;
}

.gaa-btn-primary {
    color: #fff;
    background-color: #1c98f0;
    border-color: transparent;
}

.logo-margin {
    margin-left: 19%;
    margin-top: 15%;
}

.logo-text {
    font-size: 1rem;
    color: #056db5;
}
.img-col-wrap {
    /*height: 115px;*/
    position: relative;
}
.secure-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    white-space: unset;
    height: 100%;
    padding-bottom: 2%;
}
.secure-img img {
    width: 68px;
    height: 34px;
    margin: 5px;
}

.form-group {
    transition: all 0.3s;
    margin-bottom: 0px !important;
}
.floating-labels {
    position: relative;
    padding-top: 29px;
}
.floating-labels > label {
    transform: translate(1em, -2em);
    transform-origin: 0 0;
    transition: all 0.3s;
    z-index: -1;
}
.floating-labels > input::placeholder {
    color: transparent;
}

/* :blank*/
.floating-labels > input:focus + label,
.floating-labels > input:not(:placeholder-shown) + label {
    transform: translateY(-4.3em);
}

.seperator > [class*="col-"]:nth-child(n + 2)::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.0625);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 1px;
    height: 95%;
}
.payBtn {
    width: 100%;
}
.card {
    min-height: 545px;
    /*max-height: 550px;*/
    position: relative;
}
.card .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.user-setting-head {
    padding: 1.2%;
}
.user-setting-box {
    padding: 1.5%;
}
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.lh-100 {
    line-height: 1;
}

.social-profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.integration-pack {
    position: relative;
    height: 150px;
    margin: 20px 0px 20px 0px;
}
.integration-pack figure {
    margin: auto 0;
}
.integration-pack .int-img {
    min-width: 75px;
    height: 75px;
}
.integration-pack .int-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 65%;
    padding: 1.5%;
    overflow: hidden;
}
.int-description p {
    margin: 0;
}
.integration-pack .int-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}
.switch-wrapper.on {
    display: block;
}
.switch-wrapper.off {
    display: none;
}

.checkbox-box {
    width: 100%;
}
.ds-sections {
    height: 150px;
}
.country-trigger {
    font-size: 16px;
    display: block;
}
.trigger {
    width: 50px;
    height: 25px;
    display: block;
}
.trigger .slider:before {
    height: 20px;
    width: 18px;
}

.ds-update-text {
    color: #2196f3;
    cursor: pointer;
}

.search-input-box {
    max-width: 250px;
}

.search-input {
    border-radius: 20px !important;
}

.input-group-append {
    position: absolute;
    right: 4%;
    top: 30%;
}

.integration-video-link {
    cursor: pointer;
    color: #0f9aee;
}

.custom_bg{
    background-color: #f4f4f4;
}

.data-source-select-options {
    /* margin-bottom: 0px; */
    /* height: 100px; */
    overflow-y: auto;
    align-content: flex-start;
}
.data-source-select-options dt {
    width: 100%;
    height: 20px !important;
}
.data-source-select-options dd {
    margin-bottom: 0px !important;
}

.list-wrapper {
    width: 100%;
    position: relative;
    display: block;
}

.header .header-container .nav-left > li > div,
.header .header-container .nav-right > li > div {
    color: #72777a;
    display: block;
    line-height: 65px;
    min-height: 65px;
    padding: 0 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.h-450px {
    height: 450px;
}

.pb-c-inputs {
    height: 35px !important;
}
.pb-c-inputs#ccn {
    height: 35px !important;
}

.h-30px {
    height: 30px;
}

.trial-countdown {
    color: #2196f3;
}
.hint-button {
    height: 15px;
    width: 15px;
    margin: 5px;
}
.hint-button-2 {
    height: 20px;
    width: 20px;
    margin: 2px;
}
.hint-button-3 {
    height: 15px;
    width: 15px;
    margin: 0px 0px 0px 5px;
    padding: 0px;
}
#data-source-page-container {
    height: inherit;
    overflow-y: auto;
}

#data-source-detail-container {
    height: inherit;
    overflow-y: auto;
}

.m-w-255px {
    max-width: 255px;
}

.sidebar-inner {
    border-right: 1px solid rgba(0, 0, 0, 0.0625);
}

.OSXscroll{
    -webkit-overflow-scrolling: touch
}

.gray_clr{
    color: #72777a !important;
}

.css-1uccc91-singleValue {
    color: #72777a !important;
}

thead th {
    text-align: center;
}

tbody td {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle !important;
}

.table tbody td {
    color: #002e60;
}

.gaa-text-secondary {
    color: #3d4142;
}

.table-striped tbody tr:nth-of-type(2n + 1) {
    background-color: rgb(244, 246, 247);
}

.user-annotation-color-picker {
    width: 15px;
    height: 15px;
    border: none;
    background: none;
}

table.table-striped th {
    text-align: left;
}

.table-striped thead {
    background-color: #e9e9e9;
}

.dark-gray-border {
    border-color: #3d4142 !important;
}

.light-gray-border {
    border-color: #3d4142 !important;
}

.thin-border {
    border-width: 0.75pt !important;
}

.table-hover.gaa-hover tbody tr:hover {
    color: #212529;
    background-color: #F7F7F7;
}

.thin-light-gray-border {
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.text-black {
    color: black;
}

table.table-bordered thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}

table.table-bordered tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}

.header .header-container .nav-left .dropdown-menu,
.header .header-container .nav-right .dropdown-menu {
    min-width: 250px;
}

#acronym-holder {
    width: 32px;
    height: 32px;
    color: white;
    font-size: 16px;
}

.progressbar-container {
    border: 2px solid #1c98f0;
}

div.scrollable {
    max-height: 70vh;
    overflow-y: auto;
}

.date-range-dropdown-arrow-container {
    fill: #cccccc;
    padding-right: 8px;
    color: hsl(0,0%,20%);
}

.date-range-dropdown-arrow:hover {
    color: hsl(0,0%,60%);
}

.simple-masonary {
    padding: 0px 0px 0px 5px;
}

.simple-masonary p {
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.simple-masonary p span.badge {
    right: 25px;
    top: 8px;
    position: absolute;
}

.simple-masonary.simple-masonary-green {
    border: 2px solid #e0ede3;
}
.simple-masonary.simple-masonary-green p span.badge {
    color: #49aa53;
    background-color: #e0ede3;
}

.simple-masonary.simple-masonary-purple {
    border: 2px solid #eddeed;
}
.simple-masonary.simple-masonary-purple p span.badge {
    color: #9b27aa;
    background-color: #eddeed;
}

.simple-masonary.simple-masonary-pink {
    border: 2px solid #f2dfe2;
}
.simple-masonary.simple-masonary-pink p span.badge {
    color: #e63f33;
    background-color: #f2dfe2;
}

.simple-masonary.simple-masonary-blue {
    border: 2px solid #e3f2fd;
}
.simple-masonary.simple-masonary-blue p span.badge {
    color: #1c92ed;
    background-color: #e3f2fd;
}

.promo-pop-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.promo-pop-image-holder {
    padding-top: 50px;
    padding-bottom: 50px;
    width: auto;
    height: 100%;
}

.promo-pop-image {
    height: 626px;
    width: 626px;
    margin-left: 30%;
}

.promo-pop-close-btn {
    right: 0px;
    top: 0px;
    color: black;
    position: fixed;
}

.promo-pop-close-btn:hover {
    cursor: pointer;
}

.minh-92px {
    min-height: 92px;
}

.animate-pulse {
    animation: pulse-animation 3s linear infinite;
}

@keyframes pulse-animation {
    0%
    {
        box-shadow: 0 0 0 0 rgba(64, 207, 21, 0.7), 0 0 0 0 rgba(64, 207, 21, 0.7);
    }
    40%
    {
        box-shadow: 0 0 0 30px rgba(64, 207, 21, 0), 0 0 0 0 rgba(64, 207, 21, 0.7);
    }
    80%
    {
        box-shadow: 0 0 0 30px rgba(64, 207, 21, 0), 0 0 0 20px rgba(64, 207, 21, 0);
    }
    100%
    {
        box-shadow: 0 0 0 0 rgba(64, 207, 21, 0), 0 0 0 20px rgba(64, 207, 21, 0);
    }
}

.bg-light-red {
    background-color: #f4f4f4;
}


.sticky-header{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.sticky-header > table thead{
    top: 0;
    left: 0;
    z-index: 2;
    position: sticky;
    background: #fff;
    box-shadow:
        inset 0 1px 0 #eee, inset 0 -2px 0 #eee;
}
.sticky-header > table thead th{
    border-bottom: none;
}

.header.navbar{
    top: 36px;
}
.main-content{
    padding: 100px 5px 5px;
}

/*** New Design CSS Start Here ***/
body, h1, h2, h3, h4, h5, h6{ font-family: 'Source Sans Pro', sans-serif;}
body {
    font-size: 18px;
    line-height: 1.25;
}
.sidebar { top: 119px;}
.header {width: 100%;}
.is-collapsed .header {width: 100%;}
.is-collapsed .page-container { padding-left: 110px;}
.header.navbar {
    top: 44px;
    left: 0;
}
.desktop-toggle {
    border: 0;
    color: #666;
    border-radius: 0;
    padding: .5rem .5rem;
    background-color: #f9f9f9;
}
.sidebar-menu { padding: 8px 0;}
.sidebar-menu > li > a {padding: 8px 15px;}
.sidebar-link > span:first-child {
    width: 79px;
    display: block;
    text-align: center;
}
.sidebar-menu > li > a {
    color: #666;
    font-size: 18px;
}
/* .sidebar .sidebar-inner .sidebar-menu > li > a .title { color: #666; } */
.sidebar-menu li a {position: relative; }
.sidebar-menu li a:before {
    top: 0;
    right: 0;
    height: 0;
    width: 4px;
    content: '';
    display: block;
    position: absolute;
    border-radius: 4px;
    background-color: #096DB7;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.sidebar-menu li a.link-active:before,
.sidebar-menu li a:hover:before {height: 100%;}
.sidebar-menu li a:hover,
.sidebar-menu li a.link-active,
.sidebar-menu li a:hover .sidebar-link > span:first-child,
.sidebar .sidebar-inner .sidebar-menu > li > a:hover .title { color: #096DB7; }
.main-content { padding: 120px 5px 5px; }
.header .header-container {
    height: auto;
    padding: 15px 40px;
}
.header .header-container:after { display: none; }
.form-search { width: 500px; }
.form-search fieldset input {
    border: 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 5px 3.75rem 5px 1rem;
    height: calc(1.5em + 0.75rem + 11px);
}
#acronym-holder {
    width: 42px;
    height: 42px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.note-trial {
    font-size: 16px;
    line-height: 20px;
}
.note-trial i {
    font-size: 20px;
    line-height: 24px;
}
.dropdown-menu {
    left: auto;
    right: 0;
    min-width: 20rem;
}
.btn-searchIcon {
    top: 0;
    right: 0;
    border: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    display: flex;
    line-height: 44px;
    text-align: center;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.btn-holder { padding: 30px; }
.is-collapsed .btn-addAnnotation {
    width: 50px;
    border-radius: 25px;
}
.btn-addAnnotation {
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background: linear-gradient(90deg, #3D8BFD 39.06%, #1273FF 100%);
}
.btn-addAnnotation img {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.btn-addAnnotation span {
    display: block;
    padding-left: 0.25rem;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.is-collapsed .sidebar:hover .btn-addAnnotation {
    width: auto;
    border-radius: 12px;
}
.sidebar:hover .btn-addAnnotation,
.is-collapsed .sidebar:hover .btn-addAnnotation span {display: block;}
.is-collapsed .btn-addAnnotation span { display: none; }
.appMarket { padding: 50px 0; }
.pageTitle {
    color: #096db7;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 50px;
}
.pageNote {
    padding: 60px;
    color: #333;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    background: #fff;
    border-radius: 16px;
    margin-bottom: 50px;
    box-shadow: 0px 8px 32px -6px rgba(0, 0, 0, 0.14);
}
.githubIcon {
    width: 56px;
    height: 56px;
    display: flex;
    font-size: 38px;
    align-items: center;
    border-radius: 56px;
    justify-content: center;
    border: 1px solid #bdbdbd;
}
.pageNote p { padding: 0 1rem; }
.pageNote .btn {
    width: 67px;
    height: 36px;
    padding: 8px 20px;
    border-radius: 36px;
    background: linear-gradient(90deg, #3D8BFD 39.06%, #1273FF 100%);
    box-shadow: 0px 4px 12px rgba(40, 126, 252, 0.16);
}
.btn-learnmore {
    right: 0;
    bottom: 0;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    margin: 0 24px 24px 0;
    text-decoration-line: underline;
}
.btn-learnmore:hover {color: #666;}
.pageFilters { padding-bottom: 42px;}
.filter-sort {width: 250px;}
.filter-search {width: 290px;}
.appMarket .form-control {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    font-family: 'Source Sans Pro';
    height: calc(1.5em + 0.75rem + 8px);
}
.btn-searchIcon.left-0 {
    left: 0;
    z-index: 1;
}
.btn-searchIcon.right-0 {
    right: 0;
    z-index: 1;
}
.appMarket select.form-control {
    z-index: 2;
    position: relative;
    padding-left: 56px;
    padding-right: 56px;
    background: transparent;
    -webkit-appearance: none;
}
.h3-title {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 42px;
    padding-bottom: 16px;
    border-bottom: 1px solid #bdbdbd;
}
.items { margin: -12px; }
.items > div { padding: 12px; }
.item {
    display: flex;
    height: 106px;
    position: relative;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    border: 2px solid #e0e0e0;
}
.items > div:nth-child(8) .item { border: 0; }
.item .active {
    z-index: 2;
    top: -10px;
    right: -10px;
    font-size: 24px;
    color: #0bd25f;
    line-height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
}
.btn-premium {
    z-index: 1;
    left: -2px;
    bottom: -2px;
    display: flex;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    align-items: center;
    padding: 6px 16px;
    border-radius: 0px 12px;
    background: linear-gradient(90deg, #FF8534 33.33%, #FF630C 100%);
}
.btn-premium span { padding-left: 8px; }
@media screen and (min-width: 1440px) {
    .is-collapsed .sidebar { width: 110px; }
    .is-collapsed .sidebar { width: 110px; }
}