.main-content {
    padding-left: 0% !important;
    padding-right: 0% !important;
    /*height: 480px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}
.component-wrapper {
    width: 100%;
    height: 100%;
    padding: 5%;
}
.upload-csv-input {
    height: 2.6rem;
}
.disabled-link {
    opacity: 0.3;
    pointer-events: none;
}

/*#0a2950*/
/*#456287*/
.text-yellow {
    color: yellow !important;
}

.gaa-blue-gradient {
    background: linear-gradient(to bottom, #0a2950, #456287);
}
.gaa-bg-primary {
    background: #456287;
}
.gaa-text-primary {
    color: #456287;
}

.gaa-title {
    color: #002e60;
}
.sidebar-menu {
    height: auto !important;
}

.sidebar-menu li a {
    color: #1c79d0;
}
.sidebar-footer {
    position: relative;
    margin-bottom: 0%;
    display: block;
}
.sidebar-footer > a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
}
.sidebar-footer > a .icon-holder {
    border-radius: 6px;
    display: inline-block;
    font-size: 17px;
    height: 35px;
    left: 0;
    line-height: 35px;
    margin-right: 14px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 35px;
}

.anno-container {
    padding: 2% 0% 2% 0% !important;
}
.description {
    position: relative;
    display: block;
    border: none;
}
.desc-td {
    overflow-y: auto;
    max-height: 180px;
    width: 17.1vw;
    scroll-margin: 0px;
}
.desc-td p {
    margin: 0px;
}
.header-profile-info h6 {
    font-size: 12px;
    border-bottom: 1px solid rgb(234 233 233);
}
.header-profile-info small {
    font-size: 10px;
    display: block;
    margin-top: 3px;
    border-bottom: 1px solid rgb(234 233 233);
}
.header-profile-info small:last-child {
    border-bottom: none;
}
.sidebar:hover .dropdown > .collapse-icon {
    display: flex;
}
.dropdown > .collapse-icon {
    display: none;
    font-size: 16px;
}
setting-menu-item.dropdown {
    transition: 0.3s ease;
}
.setting-menu-item.dropdown.open .setting-menu-content {
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    height: auto;
    padding-left: 20%;
}
.switch-wrapper {
    transition: visibility 0.3s linear;
}
/*switch button*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: #4caf50;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #4caf50;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}
/**/
.collapseMenu.show .dropdown-menu.show {
    position: relative !important;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    /*color: white;*/
    text-align: left;
    height: 100%;
}

.pricing hr {
    margin: 1.5rem 0;
    background-color: #ffffff;
    width: 100%;
}

.pricing .card-title {
    margin: 1rem 0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: #456287;
}
.pricing .fa-ul .fa-li .fa-asterisk {
    font-weight: lighter;
    color: #8080807a;
    font-size: 11px;
}
.pricing .card-text {
    font-size: 16px;
    font-weight: 400;
}
.pricing .card-price {
    font-size: 2rem;
    margin: 0;
    color: #456287;
    letter-spacing: 3px;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}
.pricing .card .card-body {
    align-items: start !important;
    justify-content: start !important;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 0px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    width: 15vw;
}

.gaa-menu-item {
    color: #456287;
}

/* .link-active {
    color: #1c79d0 !important;
} */
.sidebar .sidebar-inner .sidebar-menu > li > a.link-active .title {
    color: #1c79d0 !important;
}
.sidebar .sidebar-inner .sidebar-menu > li > a .title {
    color: #002e60;
}
.gaa-text-danger {
    color: #bf0c18 !important;
}

.pos-ab-l-50-t-0 {
    position: absolute;
    left: 50%;
    top: 0px;
}

.gaa-btn-danger {
    color: #fff;
    background-color: #bf0c18;
    border-color: #bf0c18;
}

.gaa-btn-primary {
    color: #fff;
    background-color: #1c98f0;
    border-color: transparent;
}

.logo-margin {
    margin-left: 19%;
    margin-top: 15%;
}

.logo-text {
    font-size: 1rem;
    color: #056DB5;
}
.img-col-wrap {
    /*height: 115px;*/
    position: relative;
}
.secure-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    white-space: unset;
    height: 100%;
    padding-bottom: 2%;
}
.secure-img img {
    width: 68px;
    height: 34px;
    margin: 5px;
}

.form-group {
    transition: all 0.3s;
    margin-bottom: 0px !important;
}
.floating-labels {
    position: relative;
    padding-top: 29px;
}
.floating-labels > label {
    transform: translate(1em, -2em);
    transform-origin: 0 0;
    transition: all 0.3s;
    z-index: -1;
}
.floating-labels > input::placeholder {
    color: transparent;
}

/* :blank*/
.floating-labels > input:focus + label,
.floating-labels > input:not(:placeholder-shown) + label {
    transform: translateY(-4.3em);
}

.seperator > [class*="col-"]:nth-child(n + 2)::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.0625);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 1px;
    height: 95%;
}
.payBtn {
    width: 100%;
}
.card {
    min-height: 545px;
    /*max-height: 550px;*/
    position: relative;
}
.card .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.user-setting-head {
    padding: 1.2%;
}
.user-setting-box {
    padding: 1.5%;
}
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.lh-100 {
    line-height: 1;
}

.social-profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.integration-pack {
    position: relative;
    height: 150px;
    margin: 20px 0px 20px 0px;
}
.integration-pack figure {
    margin: auto 0;
}
.integration-pack .int-img {
    min-width: 75px;
    height: 75px;
}
.integration-pack .int-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 65%;
    padding: 1.5%;
    overflow: hidden;
}
.int-description p {
    margin: 0;
}
.integration-pack .int-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}
.switch-wrapper.on {
    display: block;
}
.switch-wrapper.off {
    display: none;
}

.checkbox-box {
    width: 100%;
}
.ds-sections {
    height: 150px;
}
.country-trigger {
    font-size: 16px;
    display: block;
}
.trigger {
    width: 50px;
    height: 25px;
    display: block;
}
.trigger .slider:before {
    height: 20px;
    width: 18px;
}

.ds-update-text {
    color: #2196f3;
    cursor: pointer;
}

.search-input-box {
    max-width: 250px;
}

.search-input {
    border-radius: 20px !important;
}

.input-group-append {
    position: absolute;
    right: 4%;
    top: 30%;
}

.integration-video-link {
    cursor: pointer;
    color: #0f9aee;
}

.data-source-select-options {
    margin-bottom: 0px;
    height: 100px;
    overflow-y: auto;
    align-content: flex-start;
}
.data-source-select-options dt {
    width: 100%;
    height: 20px !important;
}
.data-source-select-options dd {
    margin-bottom: 0px !important;
}

.list-wrapper {
    width: 100%;
    position: relative;
    display: block;
}

.header .header-container .nav-left > li > div,
.header .header-container .nav-right > li > div {
    color: #72777a;
    display: block;
    line-height: 65px;
    min-height: 65px;
    padding: 0 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.h-450px {
    height: 450px;
}

.pb-c-inputs {
    height: 35px !important;
}
.pb-c-inputs#ccn {
    height: 35px !important;
}

.h-30px {
    height: 30px;
}

.trial-countdown {
    color: #2196f3;
}
.hint-button {
    height: 15px;
    width: 15px;
    margin: 5px;
}
.hint-button-2 {
    height: 20px;
    width: 20px;
    margin: 10px;
}
.hint-button-3 {
    height: 15px;
    width: 15px;
    margin: 0px 0px 0px 5px;
    padding: 0px;
}
#data-source-page-container {
    height: inherit;
    overflow-y: auto;
}

#data-source-detail-container {
    height: inherit;
    overflow-y: auto;
}

.m-w-255px {
    max-width: 255px;
}

.sidebar-inner {
    border-right: 1px solid rgba(0, 0, 0, 0.0625);
}

thead th {
    text-align: center;
}

tbody td {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle !important;
}

.table tbody td {
    color: #002e60;
}

.gaa-text-secondary {
    color: #3d4142;
}

.table-striped tbody tr:nth-of-type(2n + 1) {
    background-color: rgb(244, 246, 247);
}

.user-annotation-color-picker {
    width: 15px;
    height: 15px;
    border: none;
    background: none;
}

table.table-striped  th{
    text-align: left;
}

.table-striped thead{
    background-color: #e9e9e9;
}

.dark-gray-border {
    border-color: #3d4142 !important;
}

.light-gray-border {
    border-color: #3d4142 !important;
}

.thin-border {
    border-width: 0.75pt !important;
}

.table-hover.blue-hover tbody tr:hover {
    color: #212529;
    background-color: #FCFCFC;
}

.thin-light-gray-border {
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.text-black {
    color: black;
}

table.table-bordered thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}

table.table-bordered tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
}
