.main-content {
    padding-left: 3% !important;
    padding-right: 3% !important;
    /*height: 480px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}
.component-wrapper {
    width: 100%;
    height: 100%;
    padding: 5%;
}
.upload-csv-input {
    height: 2.6rem;
}
.disabled-link {
    opacity: 0.3;
    pointer-events: none;
}

/*#0a2950*/
/*#456287*/

.gaa-blue-gradient {
    background: linear-gradient(to bottom, #0a2950, #456287);
}
.gaa-bg-primary{
    background: #456287;
}
.gaa-text-primary{
    color:#456287;
}

.gaa-title {
    color: #456287;
}

.sidebar-menu li a {
    color: #456287;
}
/*
.sidebar-menu li a:hover {
    opacity: .6!important;
} */

/*pricing css start*/
/*section.pricing {*/
/*    background: #007bff;*/
/*    background: linear-gradient(to right, #0062E6, #33AEFF);*/
/*}*/

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #456287;
    color: white;
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

.gaa-menu-item {
    color: #456287;
}

.link-active {
    color: #2196f3 !important;
}

.gaa-text-danger {
    color: #bf0c18 !important;
}

.pos-ab-l-50-t-0 {
    position: absolute;
    left: 50%;
    top: 0px;
}

.gaa-btn-danger {
    color: #fff;
    background-color: #bf0c18;
    border-color: #bf0c18;
}

.logo-margin {
    margin-left: 19%;
    margin-top: 15%;
}

.logo-text {
    font-size: 1rem;
}
.img-col-wrap{
    height: 115px;
    position: relative;
}
.secure-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    white-space: unset;
    height: 100%;
}
.secure-img img{
    width:68px;
    height: 34px;
    margin:5px;
}

.form-group{
    transition: all .3s;
    margin-bottom:0px!important;
}
.floating-labels{
    position :relative;
    padding-top:29px;

}
.floating-labels > label{
   transform:translate(1em ,-2em);
    transform-origin:0 0;
    transition: all .3s;
    z-index: -1;
}
.floating-labels > input::placeholder{
    color: transparent;
}

/* :blank*/
.floating-labels > input:focus + label ,
.floating-labels > input:not(:placeholder-shown) + label
{
  transform:translateY(-4.3em);
}

.seperator > [class*="col-"]:nth-child(n + 2)::after {
    content: "";
    background-color: rgba(0,0,0,.0625);
    position: absolute;
    top: 0;
    bottom: 0;
    left:0px;
width: 1px;
    height: 95%;
}
.payBtn{
width:100%;
}
